<div class="search">
  
  <!-- tell the user if we could not
     fill the drop down inputs,
    also only 1 message will be printed if both have faild -->
  <error-message
    *ngIf="areasErrorMsg!=''"
    [inputErrorMsg]="areasErrorMsg"
  >
  </error-message>
  
  <error-message
    *ngIf="areasErrorMsg=='' && specialitiesErrorMsg!=''" 
    [inputErrorMsg]="specialitiesErrorMsg"
  >
  </error-message>
  
  <form
    [formGroup]="form"
    (ngSubmit)="onFormSubmit()"
  >
    <select 
      class="form-select"
      aria-label="Default select example"
      formControlName="area"
    >
      <option 
        selected
        value="0">
      select area</option>
    
      <option
        *ngFor="let area of areas" 
      value="{{area.name}}"
      >
      {{area.name}}
      </option>

    </select>

    <br> 

    <select 
      class="form-select" 
      aria-label="Default select example"
      formControlName="speciality"
    >
      <option 
        selected 
        value="0"
      >select speciality</option>
      
      <option
        *ngFor="let speciality of specialities" 
        value={{speciality.name}}
      >
      {{speciality.name}}</option>
 
    </select>

    <br>

    <input
      formControlName="name"
      class="form-control"
      placeholder="Doctor Name (optional)">
    
    <br>

    <button 
      type="submit" 
      class="btn btn-primary btn-lg btn-block"
    >
    Search </button>

  </form>
</div>

<br>