<div class="signin-screen">
    <form 
       [formGroup]="form"
       (ngSubmit)="onSignup()">
      <div class="form-row"> 
        <div class="form-group col-md-6">
          <label >Name</label>
          <input 
            type="text"
            class="form-control"
            aria-describedby="nameHelp"
            placeholder="Enter Name"
            formControlName="name">

            <error-message
              *ngIf="isInvalidElement('name')"
              [inputErrorMsg] = "'Name is Required'">
            </error-message>  
        </div>

        <div class="form-group col-md-6">
          <label>Phone Number</label>
          <input 
            type="text"
            class="form-control"
            aria-describedby="phoneHelp"
            placeholder="Enter Phone Number"
            formControlName="phone">
          
          <error-message    
              *ngIf="isInvalidElement('phone')"      
              validationError  
              [formControlErrors]="form.controls.phone.errors" 
              [errorMsgs]="{
                            required:'Phone Number is Required', 
                            pattern:'Invalid Phone Number, please enter Egyption Phone Number'}"
            > 
          </error-message>   

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email address</label>
          <input 
            type="text"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email">
    
            <error-message    
              *ngIf="isInvalidElement('email')"      
              validationError  
              [formControlErrors]="form.controls.email.errors" 
              [errorMsgs]="{required:'Email is Required', email:'Invalid Email'}"
            > 
            </error-message> 

        </div>
    
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input 
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password">
    
          <error-message    
            *ngIf="isInvalidElement('password')"      
            validationError  
            [formControlErrors]="form.controls.password.errors" 
            
            [errorMsgs]="{
                        required:'Password is Required', 
                        minlength:'password length should be 10 characters at least',
                        pattern:'password should contain characters and digits'}"
          > 
         </error-message> 

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Education</label>
          <input 
            class="form-control"
            placeholder="Education"
            formControlName="education">
    
            <error-message
                *ngIf="isInvalidElement('education')"
                inputErrorMsg="Education is required">
            </error-message>
        </div>

        <div class="form-group col-md-6">
          <label >Speciality</label>
          <input 
            class="form-control"
            placeholder="Speciality"
            formControlName="speciality">
    
            <error-message
                *ngIf="isInvalidElement('speciality')"
                inputErrorMsg="Speciality is required">
            </error-message>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
         <label> Fees </label>
         <input  
           class="form-control"
           placeholder="fees"
           formControlName="fees">
   
          <error-message    
            *ngIf="isInvalidElement('fees')"      
            validationError  
            [formControlErrors]="form.controls.fees.errors" 
            
            [errorMsgs]="{
                        required:'fees is Required', 
                        pattern:'Invalid fees'}"
          > 
         </error-message> 

       </div>

       <div class="form-group col-md-6">
        <label >Upload Photo</label>
        <input 
          type="file"
          class="form-control"
          formControlName="photo">
        </div>
      </div>

       <button 
           type="submit"
           class="btn btn-primary"
           [disabled]="form.invalid"
        >SignUp</button>
     </form>
   
     <error-message
        *ngIf="errorMsg!=''"
        [inputErrorMsg]="errorMsg">
     </error-message>

</div> 