.center { /* horizontal center*/
    width: 50%;
    margin: 0 auto;
    text-align: center;
 }

.clinic-list{
    display: block;
    width: fit-content;
}

.clinic-view-switch{
    margin-top: 10px;
    margin-bottom: 10px;
}