<app-doctor-form>

</app-doctor-form>

<div class="clinic-view-switch center">
    <input type="checkbox" class="btn-check" id="clinic-view-switch" autocomplete="off">
    <label class="btn btn-outline-primary" for="clinic-view-switch"
            (click)="toggleClinicView()"> 
    {{viewClinicMode?'Add Clinic':'View Clinics'}} </label><br>
</div>

<app-clinic-list
    *ngIf="viewClinicMode; else addNewClinic;"
    class="clinic-list center"
    [clinicSearchParams]="clinicSearchParams">
</app-clinic-list>

<ng-template #addNewClinic>
    <app-clinic-form></app-clinic-form>
</ng-template>
