<div class="signin-screen">
    <form 
       [formGroup]="form"
       (ngSubmit)="onSignup()">
       
       <div class="form-group">
        <label >Name</label>
        <input 
          type="text"
          class="form-control"
          aria-describedby="nameHelp"
          placeholder="Enter Name"
          formControlName="name">

          <error-message
            *ngIf="isInvalidElement('name')"
            inputErrorMsg = "Name is Required">
          </error-message>  
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input 
          type="text"
          class="form-control"
          aria-describedby="phoneHelp"
          placeholder="Enter Phone Number"
          formControlName="phone">

          <error-message    
            *ngIf="isInvalidElement('phone')"      
            validationError  
            [formControlErrors]="form.controls.phone.errors" 
            [errorMsgs]="{
                          required:'Phone Number is Required', 
                          pattern:'Invalid Phone Number, please enter Egyption Phone Number'}"
          > 
        </error-message>     
      </div>

       <div class="form-group">
         <label for="email">Email address</label>
         <input 
           type="text"
           class="form-control"
           id="email"
           aria-describedby="emailHelp"
           placeholder="Enter email"
           formControlName="email">
        
        <error-message    
          *ngIf="isInvalidElement('email')"      
          validationError  
          [formControlErrors]="form.controls.email.errors" 
          [errorMsgs]="{required:'Email is Required', email:'Invalid Email'}"
        > 
        </error-message>        

       </div>
   
       <div class="form-group">
         <label for="password">Password</label>
         <input 
           type="password"
           class="form-control"
           id="password"
           placeholder="Password"
           formControlName="password">
           
          <error-message    
            *ngIf="isInvalidElement('password')"      
            validationError  
            [formControlErrors]="form.controls.password.errors" 
            
            [errorMsgs]="{
                        required:'Password is Required', 
                        minlength:'password length should be 10 characters at least',
                        pattern:'password should contain characters and digits'}"
          > 
         </error-message>   
       
        </div>

       <button 
           type="submit"
           class="btn btn-primary"
           [disabled]="form.invalid"
       >Submit</button>
     </form>

     
  <error-message
    *ngIf="errorMsg!=''"
    [inputErrorMsg]="errorMsg">
  </error-message>

  <success-message
    *ngIf="successMsg!=''"
    [successMsg]="successMsg">
  </success-message>
   
   </div>