ul{
    list-style-type: none;
    width:fit-content;
    display: inline-block;
    margin: 10px;
    text-align: center;

}

li{
    border: 2px solid black;
    width: fit-content;
    background-color:chocolate;
    margin:10px;
}

.available_appointment:hover{
    border: 4px solid blue;
    cursor: pointer;
}

.available_appointment{
    background-color: chocolate;
    box-sizing: border-box;

}

.reserved_appointment{
    background-color: gray;
}