
<ul class="day-appointments">
    <li class="dayName">{{dayDate | weekDayName}}</li>
    
    <li
        *ngFor="let appointment of appointments; let index = index;"
        class="{{available[index]==true?'available_appointment':'reserved_appointment'}}"
        (click)="onAppointmentClick(index)"
    > 
    {{appointment | appointmentStr}}
    </li>

</ul>
