
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a 
    class="navbar-brand"
    routerLink="/"
  >
   Vezeeta
  </a>
 
  <div *ngIf="!isLogedIn()">
      <ul
      *ngIf="!isLogedIn()" 
      class="navbar-nav">  
      <li class="nav-item">
        <a class="nav-link" routerLink="signin">signin</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="signup/client">client signup</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="signup/doctor">doctor signup</a>
      </li>
    </ul>
  </div>


  <div
    *ngIf="isLogedIn()"
  >
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">  
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            options
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  >Register-Clinic</a>
            <a class="dropdown-item"  >Profile</a>
          </div>
        </li>

      </ul>
    </div>

  </div>

  <a 
    *ngIf="isLogedIn()"
    class="navbar-brand logout"
    (click)="onLogOutClick()" 
  >
  LogOut
  </a>

</nav>