<div class="signin-screen">
 <form 
    [formGroup]="form"
    (ngSubmit)="onSignin()">
    
    <div class="form-group">
      <label for="email">Email address</label>
      <input 
        type="text"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        formControlName="email">

        <error-message
            *ngIf="isInvalidElement('email')"
            [inputErrorMsg]="getEmailErrorMsg()">
        </error-message>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password">

        <error-message
            *ngIf="isInvalidElement('password')"
            [inputErrorMsg]="getPassErrorMsg()">
        </error-message>
    </div>

    <div class="form-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input 
                type="radio" 
                aria-label="Radio button for following text input"
                name="user_type"
                formControlName="user_type"
                value="client">
                &nbsp; &nbsp;
            <label for="client">Client</label>  
          </div>
        </div>

        <div class="input-group-prepend">
            <div class="input-group-text">
              <input 
                  type="radio" 
                  aria-label="Radio button for following text input"
                  name="user_type"
                  formControlName="user_type"
                  value="doctor"> 
                &nbsp; &nbsp;
              <label for="doctor">Doctor</label>  
            </div>
          </div>

    </div>

    <button 
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
    >Submit</button>
  </form>

  <error-message
    *ngIf="errorMsg!=''"
    [inputErrorMsg]="errorMsg">
  </error-message>

  <success-message
    *ngIf="successMsg!=''"
    [successMsg]="successMsg">
  </success-message>

</div>