<div 
 class="clinic-list"
>
    <app-clinic-card
        class="clinic-card"
        *ngFor="let clinic of clinics; let i = index"
        [clinic]="clinic"
        (click)="onClinicClick(i)"
    >
    </app-clinic-card>
    
</div>
<button 
    class="center"
    [disabled]="prevLink==null"
    (click)="onPrevClick()"
>
 Prev 
</button>

<button 
    class="center"
    [disabled]="nextLink==null"
    (click)="onNextClick()"
>
 Next 
</button>
