<div 
    class="card mb-3" 
    style="max-width: 540px;">
    
    <div 
        class="row no-gutters"
    >
      
      <div 
        class="col-md-4"
      >
        <img 
            src="{{clinicPhotoPlaceHolder}}" 
            class="card-img" 
            alt="clinic {{clinic.name}} photo">
      </div>

      <div class="col-md-8">
        <div class="card-body">

          <h5 class="card-title">Name: {{clinic.name}}</h5>
          <p class="card-text">Area: {{clinic.location}}</p>
          <p class="card-text">Detailed Address: {{clinic.address}}</p>

        </div>
      </div>

    </div>

  </div>