
<div
    *ngIf="viewClinicMode"
    class="toggle-button col-md-2"
>

<input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
<label 
    class="btn btn-outline-primary" 
    for="btn-check-outlined" 
    (click)="toggleFormState()">{{formEnabled?'Disable Edit':'Enable Edit'}}</label><br>

</div>     


<form 
    class="row g-3 clinic-form"
    [formGroup]="form"
    (ngSubmit)="onFormSubmit()"
>
    <div 
        class="col-md-1"
        *ngIf="viewClinicMode"
    >
        <label for="id" class="form-label">Id</label>    
        <input type="text" class="form-control" id="id" value="{{clinic?clinic.id:''}}" disabled> 
    </div>

    <div class="col-md-11">
        <label for="name" class="form-label">Name</label>
        
        <input type="text" class="form-control" id="name"  
            formControlName="name"
        > 

        <error-message
            *ngIf="isInvalidElement('name')"
            inputErrorMsg = "Name is required">
        </error-message>  

    </div>

    <div class="col-md-6">
        <label for="location" class="form-label">Location</label>

        <input type="text" class="form-control" id="location"  
            formControlName="location"
        >
        <error-message
            *ngIf="isInvalidElement('location')"
            inputErrorMsg = "Location is required">
        </error-message>  
    </div>

    <div class="col-md-6">
        <label for="address" class="form-label">Address</label>
        
        <input type="text" class="form-control" id="address" 
                formControlName="address"
        >

        <error-message
            *ngIf="isInvalidElement('address')"
            inputErrorMsg = "Address is required">
        </error-message>  

    </div>

    
    <div class="col-3">
        <label for="formFile" class="form-label">Upload Photo</label>
        
        <input class="form-control" type="file" id="formFile" 
                formControlName="photo"
                accept=".png,.jpg,.jpeg,.jfif,.bmp,.tif,.tiff"
        >

    </div>

    <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || !formEnabled"
          >
          {{viewClinicMode?"Update":"Save"}}
      </button>
  
    </div>

</form>

<success-message
    class="message"
    *ngIf="successMsg!=''"
    [successMsg]="successMsg"
>
</success-message>

<error-message
    class="message"
    *ngIf="errorMsg!=''"
    [inputErrorMsg]="errorMsg">
</error-message>

