.clinic-form{
    margin-left: 20px;
    margin-right: 20px;
}

.toggle-button{
    margin-left: 30px;
    margin-top: 10px;
}

.message{
    display: block;
    margin-left: 25px;
    margin-top: 10px;
}