<div
    class="center"
>
    <app-doctor-card
        *ngIf="doctor!=null"
        [doctor]="doctor"
    >
    </app-doctor-card>
<div>

<br>
<div class="row">
    <div 
        class="col-sm-6"
    >
        <app-clinic-list
            [clinicSearchParams]="getClinicSearchParams()"
        >
        </app-clinic-list>
        
    </div>
    <div 
        class="col-sm-6"
    >
        <app-appointment-list></app-appointment-list>
    </div>
</div>

 