<!-- header -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{title}}</h4>
</div>


<!-- body -->
<div class="modal-body">
    <p>
        <strong>
            {{message}}
        </strong>
    </p>
</div>
  

<!-- footer -->
<div class="modal-footer">  

    <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="onCancle()"
    >
        Cancel
    </button>


    <button
        type="button"
        class="btn btn-danger"
        (click)="onOk()"
    >
        Ok
    </button>
</div>