/* center the div horzontally */
.center { /* horizontal center*/
    width: 50%;
    margin: 0 auto;
    text-align: center;
 }


.result_set{
    overflow-y: auto;
    height: 560px;
    border: 2px solid skyblue;
}
