<div class="center">

    <error-message
        *ngIf="errorMsg!=''"
        [inputErrorMsg] = "errorMsg"
    ></error-message>
    
</div>

<div 
    *ngIf="doctors.length !=0"
    class="result_set center"
>

    <app-doctor-card 
        *ngFor="let doctor of doctors;"
        [doctor]="doctor"
        (click)="onDoctorClick(doctor.id)"
    >
    </app-doctor-card>

</div>