
<div
    *ngIf="viewProfileMode"
    class="toggle-button col-md-2"
>

    <input type="checkbox" class="btn-check" id="doctor-view-state-switch" autocomplete="off">
    <label 
        class="btn btn-outline-primary" 
        for="doctor-view-state-switch" 
        (click)="toggleFormState()">Edit Doctor Info</label><br>

</div>     


<form 
    class="row g-3 doctor-form"
    [formGroup]="form"
    (ngSubmit)="onFormSubmit()"
>

    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        
        <input type="text" class="form-control" id="name"  
               formControlName="name"
        > 

        <error-message
            *ngIf="isInvalidElement('name')"
            [inputErrorMsg] = "'Name is Required'">
        </error-message>  

    </div>
  
    <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>

        <input type="text" class="form-control" id="phone"  
               formControlName="phone"
        >
        
        <error-message    
            *ngIf="isInvalidElement('phone')"      
            validationError  
            [formControlErrors]="form.controls.phone.errors" 
            [errorMsgs]="{
                        required:'Phone Number is Required', 
                        pattern:'Invalid Phone Number, please enter Egyption Phone Number'}"
        > 
        </error-message>   

    </div>

    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      
      <input type="text" class="form-control" id="inputEmail4" 
             formControlName="email"
      >

    <error-message    
        *ngIf="isInvalidElement('email')"      
        validationError  
        [formControlErrors]="form.controls.email.errors" 
        [errorMsgs]="{required:'Email is Required', email:'Invalid Email'}"
    > 
    </error-message> 

    
    </div>

    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      
      <input type="password" class="form-control" id="inputPassword4" 
               formControlName="password"
               placeholder="{{viewProfileMode?'Old Password is Required':''}}"
        >
        
    <error-message    
        *ngIf="isInvalidElement('password')"      
        validationError  
        [formControlErrors]="form.controls.password.errors" 
        
        [errorMsgs]="{
                    required:'Password is Required', 
                    minlength:'password length should be 10 characters at least',
                    pattern:'password should contain characters and digits'}"
    > 
    </error-message> 

    </div>

    <!-- for password change -->
    <div 
        class="col-md-6"
        *ngIf="viewProfileMode"
        >
        <label for="newPassword" class="form-label">New Password</label>
        
        <input type="password" class="form-control" id="newPassword" 
                formControlName="newPassword"
                placeholder="Edit for setting new Password"
        >

        <error-message    
            *ngIf="isInvalidElement('newPassword')"      
            validationError  
            [formControlErrors]="form.controls.newPassword.errors" 
            
            [errorMsgs]="{
                        minlength:'password length should be 10 characters at least',
                        pattern:'password should contain characters and digits'}"
        > 
        </error-message> 

    </div>

    <!-- for password change -->
    <div 
        class="col-md-6"
        *ngIf="viewProfileMode"
        >
        <label for="newPasswordConfirm" class="form-label">Confirm New Password</label>
        
        <input type="password" class="form-control" id="newPasswordConfirm" 
                formControlName="newPasswordConfirm"
                placeholder="Edit for setting new Password"
        >

        <error-message    
            *ngIf="isInvalidElement('newPasswordConfirm')"      
            validationError  
            [formControlErrors]="form.controls.newPasswordConfirm.errors" 
            
            [errorMsgs]="{'passwordMatch':'new password do not match'}"
        > 
        </error-message> 

    </div>


    <div class="col-md-3">
      <label for="education" class="form-label">Education</label>
      <input type="text" class="form-control" id="education" 
            formControlName="education"
        >

      <error-message
        *ngIf="isInvalidElement('education')"
        inputErrorMsg="Education is required"
        >
      </error-message>

    </div>

    <div class="col-md-3">
      <label for="inputState" class="form-label">Speciality</label>
      <input type="text" class="form-control" id="speciality" 
            formControlName="speciality"
        >

            
      <error-message
        *ngIf="isInvalidElement('speciality')"
        inputErrorMsg="Speciality is required"
        >
      </error-message>

    </div>

    <div class="col-md-3">
      <label for="fees" class="form-label">Fees</label>
      <input type="text" class="form-control" id="fees" 
            formControlName="fees"
        >
    
        <error-message    
            *ngIf="isInvalidElement('fees')"      
             validationError  
            [formControlErrors]="form.controls.fees.errors" 
        
            [errorMsgs]="{
                    required:'fees is Required', 
                    pattern:'Invalid fees'}"
        > 
        </error-message> 
    </div>

    <div class="col-3">
        <label for="formFile" class="form-label">Upload Photo</label>
        
        <input class="form-control" type="file" id="formFile" 
                formControlName="photo"
                accept=".png,.jpg,.jpeg,.jfif,.bmp,.tif,.tiff"
        >

    </div>

    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || !formEnabled"
        >
        {{viewProfileMode?"Update":"Sign Up"}}
    </button>

    </div>
</form>

<success-message
    class="message"
    *ngIf="successMsg!=''"
    [successMsg]="successMsg"
>
</success-message>

<error-message
    class="message"
    *ngIf="errorMsg!=''"
    [inputErrorMsg]="errorMsg">
</error-message>

