<form
    [formGroup]="form"
    (ngSubmit)="onFormSubmit()"
    class="schedule"
>
    <br>
    <div class="row">
        <div class="col-md-12 weekday">
            <label for="id" class="form-label">
                {{weekday}}</label>    

        </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <label for="id" class="form-label">
            Open From</label>   
        <input 
            type="time" 
            class="form-control"
            formControlName="openFrom">
      </div>
    </div>

    
    <div class="row">
    
      <div class="col-md-12">
        <label for="id" class="form-label">
            Close At</label>   
        <input 
            type="time" 
            class="form-control"
            formControlName="closeAt">
      </div>

      <error-message
        *ngIf="isInvalidElement('closeAt')"
        inputErrorMsg = "closeAt time has to be after openFrom time">
        </error-message> 
    </div>

 
    

    <div class="row">
        <div class="col-md-12">
        <label for="id" class="form-label">
            Appointment Span</label>   
          <input 
              type="text" 
              class="form-control"
              formControlName="appointmentSpan">
        </div>

        <error-message
            *ngIf="isInvalidElement('appointmentSpan')"
            inputErrorMsg = "appointment span must be positive number, and less than 60 minutes">
        </error-message> 
    </div>
      
    <div    
        *ngIf="scheduleExist"
        class="row">
        <div class="col-md-12">
            <button 
                type="submit" 
                class="btn btn-primary"
                [disabled]="form.invalid"
                >Update</button>
            &nbsp;
            <button 
                type="button" 
                class="btn btn-danger"
                (click)="deleteSchedule()"
                >Delete</button>
        </div>
    </div>
    
    <div    
        *ngIf="!scheduleExist"
        class="row">
        
        <div class="col-md-12">
            <button 
                type="submit" 
                class="btn btn-primary"
                [disabled]="form.invalid"
                >Save</button>
        </div>
    </div>

    
</form>
 