<div 
    class="card mb-3" 
    style="max-width: 540px;">
    
    <div 
        class="row no-gutters"
    >
      
      <div 
        class="col-md-4"
      >
        <img 
            src="{{doctor.photoUrl || photoPlaceHolder}}" 
            class="card-img" 
            alt="doctor {{doctor.name}} personal photo">
      </div>

      <div class="col-md-8">
        <div class="card-body">

          <h5 class="card-title">Doctor: {{doctor.name}}</h5>
          <p class="card-text">Speciality: {{doctor.speciality}}</p>
          <p class="card-text">Phone: {{doctor.phone}}</p>
          <p class="card-text">Fees: {{doctor.fees}}</p>
        
        </div>
      </div>

    </div>

  </div>